<table class="table table-sm table-light table-striped" *ngIf="tracks">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<!--hide if hideArtist is true-->
			<th *ngIf="hideArtist != true" scope="col">Primary Artist</th>
			<!--hide if hideAlbum is true-->
			<th *ngIf="hideAlbum != true" scope="col">Album</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let track of tracks; let i = index">
			<!--populate with row index (starting with 1)-->
			<td>{{i + 1}}</td>
			<td>
				<a href="track/{{track.id}}">{{track.name}}</a>
			</td>
			<td>{{track.durationStr}}</td>
			<!--hide if hideArtist is true; link to the first artist's endpoint and display the first artist's name-->
			<td *ngIf="hideArtist != true"><a href="artist/{{track.primaryArtist.id}}">{{track.primaryArtist.name}}</a></td>
			<!--hide if hideAlbum is true; link to the album's endpoint and display the album's name-->
			<td *ngIf="hideAlbum != true"><a href="album/{{track.album.id}}">{{track.album.name}}</a></td>
		</tr>
	</tbody>
</table>
